<p>Astronot CSS framework terbaru persembahan dari <a href="https://start.axcora.com">axcora technology</a> team developer untuk dunia.</p>
<p>
Memulai menggunakan nya sekarang dengan CDN js insert code berikut ini sebelum tag head pada template code website blog mu.</p>
<pre>&lt;link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/astronot/css/astronot.min.css"/&gt;</pre>
<p>Atau install dengan menggunakan NPM pada terminal jalankan perintah berikut ini</p>
<code>npm install astronot</code>