<head>
  <meta charset="utf-8">
<meta name="google-site-verification" content="fgCvUavHPC4PNIsCzIJ7u8odSISCCgop6YfhdfOGSX0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {%- feed_meta -%}
  {%- include custom-head.html -%}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/astronot@1.0.1-sv/astronot.min.css"/>
   <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6422989243541464"
     crossorigin="anonymous"></script>
</head>
