<!-- delete this button -->
<div class="cards">
<div class="card">
<p>Need Change to <button class="btn-astronot"><a href="https://astronot.axcora.com" class="link">English Version →</a></button></p>
</div></div>
<!-- end delete this button -->

<div class="cardes">
<div class="carde">
<img alt="new css framework astronot css" width="100%" src="https://astronot.axcora.com/img/ASTRONOTCSS.jpg"/>
<div class="card-content">
<h3>{{site.home.title}}</h3>
<p> 
{{site.home.desc}}
</p>
{%- include codding.html -%}
</div>
</div>
</div>